.hero {
   padding: 192px 0;
   background-color: #F13C6E;
   color: white;
   min-height: 300px;
   overflow: hidden;
}
.hero-container{
   position: relative;
}
.hero-bg{
		&__circle-big {
         position: absolute;
         top: 50%;
         transform: translate(0, -50%);
         right: -17%;
         width: 859px;
         height: 859px;
         background: rgba(255, 255, 255, 0.3);
         border-radius: 50%;
		}
		&__circle-small {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 677px;
         height: 677px;
         background: rgba(255, 255, 255, 0.4);
         border-radius: 50%;
      }
      &__chair{
         position: absolute;
         width: 584px;
         height: 584px;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         background: url(..//img/hero/hero-bg.png) no-repeat;
      }
}
.hero-wrapper {
   max-width: 320px;
   padding: 0 5px 0 5px;

}
.hero-content {
		&__title {
         font-weight: bold;
         font-size: 48px;
         line-height: 56px;
         margin-bottom: 50px;
		}

		&__text {
         font-size: 14px;
         line-height: 1.43;
         margin-bottom: 75px;
		}

		&__btn {
		}
}
.btn {
}
