//font-family: 'Roboto', sans-serif;
//font-family: guerrilla;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  
body {
    font-family: 'Roboto', sans-serif;
    color: white;
  }
a {
    text-decoration: none; 
    color: inherit;
  }
h1, h2, h3, h4, ul, li, form, input {
    margin: 0;
    padding: 0; 
}
ul li {
    list-style: none;
    display: inline-block;
}
.container {
    max-width: 1260px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}
.header{
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__menu-item+&__menu-item{
        margin-left: 80px;
    }
    &__menu-link{
        font-size: 17px;
        line-height: 20px;
        color: #000;
        &:hover{
            color: #EA3838;
        }
    }
    &__contact{
        display: flex;
    }
    &__contact-link{
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: relative;
    }
    &__contact-link+&__contact-link{
        margin-left: 17px;
    }
    &__contact-youtube img,
    &__contact-vk img,
    &__contact-instagram img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    &__contact-youtube{
        background-color: #F40000;
    }
    &__contact-vk{
        background-color: #7294C7;
    }
    &__contact-instagram{
        background: linear-gradient(43.9deg, #EEA054 16.16%, #D64763 50.11%, #B62A99 83.68%);   
    }
}
.main{
    background-color: #002E44;
    padding: 92px 0 67px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__right{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 0 0 52%;
    }
    &__title{
        font-family: GUERRILLA;
        font-size: 48px;
        line-height: 58px;
    }
    &__line{
        margin: 14px auto;
        width: 186px;
        height: 2px;
        background: #fff;
    }
    &__subtitle{
        display: block;
        font-family: GUERRILLA;
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 26px;
    }
    &__button-registration, 
    &__button-lesson{
        font-family: GUERRILLA;
        font-size: 24px;
        line-height: 29px;
        padding: 6px 27px 9px;
        border-radius: 25px;
    }
    &__button-registration{
        background: #EA3838;
        box-shadow: 0px 4px 6px rgba(234, 56, 56, 0.15);
    }
    &__button-lesson{
        margin-left: 27px;
        border: 2px solid #EA3838;
        box-sizing: border-box;
        filter: drop-shadow(0px 4px 6px rgba(234, 56, 56, 0.15));
    }
    &__left{
        position: relative;
    }
    &__img{
        max-width: 100%;
        max-height: 100%;
    }
    &__img-bg1{
        position: absolute;
        background-image: url(..//img/main/main-img-bg-1.png);
        background-size: cover;
        background-repeat: no-repeat;
        top: -39px;
        left: 466px;
        width: 232px;
        height: 198px;
    }
    &__img-bg1{
        position: absolute;
        background-image: url(..//img/main/main-img-bg-1.png);
        background-size: cover;
        background-repeat: no-repeat;
        top: -39px;
        left: 466px;
        width: 232px;
        height: 198px;
    }    
    &__img-bg2{
        position: absolute;
        background-image: url(..//img/main/main-img-bg-2.png);
        background-size: cover;
        background-repeat: no-repeat;
        top: 26px;
        left: 337px;
        width: 178px;
        height: 168px;
    }
    &__img-bg3{
        position: absolute;
        background-image: url(..//img/main/main-img-bg-3.png);
        background-size: cover;
        background-repeat: no-repeat;
        top: 115px;
        left: 367px;
        width: 298px;
        height: 297px;
    }
    &__img-bg4{
        position: absolute;
        background-image: url(..//img/main/main-img-bg-4.png);
        background-size: cover;
        background-repeat: no-repeat;
        top: 359px;
        left: 461px;
        width: 225px;
        height: 184px;
    }
    &__img-bg5{
        position: absolute;
        background-image: url(..//img/main/main-img-bg-5.png);
        background-size: cover;
        background-repeat: no-repeat;
        top: 422px;
        left: 378px;
        width: 184px;
        height: 184px;
    }
}
