@media (max-width: 1197px){
    .about{
        &__item-right{
            & .about__content{
                max-width: 550px;
            }
            & .about__img-wrapper{
                left: -258px;
            }

        }
        &__item-left{
            & .about__img-wrapper{
                right: -171px;
            }

        } 
    }   
}
@media (max-width: 1090px){
    .main{
        &__btn-lesson {
            margin-left: 13px;
        }
        &__left{
            flex: 1 1 540px;
        }
        &__btn-registration,
        &__btn-lesson{
            font-size: 20px;
            line-height: 24px;
        }
        &__img-bg1 {
            top: 20%;
            left: 28%;   
        }
        &__img-bg2 {
            top: 27%;
            left: 11%;
        }
        &__img-bg3 {
            top: 12%;
            left: 51%;
        }
        &__img-bg4 {
            top: 49%;
            left: 47%;
        }
        &__img-bg5 {
            top: 50%;
            left: 26%;
        }
    }
}
@media (max-width: 980px){
    .main{
        &__left{
            flex: 0 0 354px;
            min-height: 480px;
        } 
        &__girl{
            flex: 1 1 250px;          
            padding-bottom: 355px;
        }
        &__img-bg1 {
            width: 30%;
            height: 30%;
            top: -2%;
            left: 44%;   
        }
        &__img-bg2 {
            width: 25%;
            height: 25%;
            top: 22%;
            left: 22%;
        }
        &__img-bg3 {
            width: 61%;
            height: 42%;
            top: 9%;
            left: 52%;
        }
        &__img-bg4 {
            width: 45%;
            height: 26%;
            top: 34%;
            left: 43%;
        }
        &__img-bg5 {
            width: 30%;
            height: 30%;
            top: 59%;
            left: 37%;
        }
    }
    .about{
        &__name{
            font-size: 30px;
            line-height: 36px;
        }
        &__position{
            margin-bottom: 30px;
            font-size: 20px;
            line-height: 24px;
        }
        &__skills li{
            margin-bottom: 17px;
            font-size: 20px;
            line-height: 23px;  
        }
        &__text{
            padding:20px;
            font-size: 17px;
            line-height: 20px;
        }
        & .about__img-wrapper{
            max-width: 600px;
        }
        &__item-right{
            & .about__img-wrapper{
                left: -200px;
                
            }
            & .about__content{
                margin-top: 44px;
                padding-bottom: 96px;
            }
        }
        &__item-left{
            & .about__content{
                margin-top: 21px;
                padding-bottom: 72px;
            }
            & .about__img-wrapper{
                right: -80px;
                bottom: -4px;
            }
        } 
    }
    .statistic{
        padding: 30px 0 10px;
        &__wrapper{
            justify-content: center;
        }
        &__column{
            margin-bottom: 30px;
        }
    }
}
@media (max-width: 860px){
    .about{
        padding-top: 20px;
        .about__content{
            max-width: 460px;
        }
        &__item-right{
            & .about__img-wrapper{
                left: -200px;
            }
        }
        &__item-left{
            & .about__img-wrapper{
                right: -150px;
            }
        } 
    }
    .footer{
        &__copy{
            max-width: 250px;
            margin-left: 0;
            margin: 0 auto;
            text-align: center;
        }
        &__copy-text{
            display:block;
            text-align: center;
            max-width: 100%;
            margin-right: 0px;
        }
    }
}
@media (max-width: 767px){
    .header{
        &__menu-item+&__menu-item{
            margin-left: 50px;
        }
    }
    .main{
        position: relative;
        min-height: 547px;
        &__board{
            background: none;
        }
        &__right{
            position: absolute;
            text-align: start;
            z-index: 1;
        }
        &__title{
            &::after{
                transform: translate(0, 0);
                left: 0%;
                margin-bottom: 4px;
            }
        }
        &__subtitle{
            display: block;
            max-width: 315px;
            margin-bottom: 218px;
        }
        &__buttons{
            display: block;
            max-width: 215px;
            margin-bottom: 20px;
        }
        &__btn-registration,
        &__btn-lesson{
         display: block;
         text-align: center;
         padding: 17px 18px 19px 19px;
         
        }
        &__btn-registration{
            margin-bottom: 21px;
        }
        &__btn-lesson{
            margin-left: 0px;    
        }
        &__left{
            flex: 1 1 100%;
            min-height: 547px;
            position: relative;
            overflow: hidden;
        }
        &__board{
            flex: 1 1 100%;
        }
        &__girl{
            bottom: 0;
            max-width: 250px;
            width: 100%;
            left: 50%;    
        }
        &__img-bg1 {
            width: 30%;
            height: 30%;
            top: 33%;
            left: 47%;  
            transform: matrix(-0.84, -0.48, -0.58, 0.86, 0, 0); 
        }
        &__img-bg2 {
            width: 25%;
            height: 25%;
            top: 36%;
            left: 5%;
            transform: matrix(-0.73, 0.73, 0.64, 0.73, 0, 0);
        }
        &__img-bg3 {
            width: 61%;
            height: 42%;
            top: 38%;
            left: 80%;
        }
        &__img-bg4 {
            width: 36%;
            height: 25%;
            top: 54%;
            left: 19%;
            transform: matrix(1, -0.05, -0.01, 1, 0, 0);
        }
        &__img-bg5 {
            width: 30%;
            height: 30%;
            top: 75%;
            left: 44%;
        }
    }
    .about__out-text{
        position: relative;
    }
    .section__title{
        font-size: 30px;
        line-height: 35px;
    }
    .about{
        &__inner{
            position: auto;
        }
        & .container{
            padding: 0;
        }
        &__content{
            padding: 0 15px;
        }
        &__section-title{
            font-size: 30px;
            line-height: 35px;
        }
        &__name{
            font-size: 20px;
            line-height: 24px;
        }
        &__position{
            padding-bottom: 7px;
            margin-bottom: 30px;
            font-size: 17px;
            line-height: 20px;
        }
        &__skills li{
            margin-bottom: 17px;
            font-size: 17px;
            line-height: 20px;  
        }
        &__text{
            padding:20px;
            font-size: 17px;
            line-height: 20px;
        }
        & .about__img-wrapper{
            max-width: 500px;
        }
        &__item-right{
            & .about__img-wrapper{
                left: -130px;
                bottom: -4px;
            }
            & .about__content{
                margin-top: 44px;
                padding-bottom: 160px;
            }
        }
        &__item-left{
            & .about__img-wrapper{
                right: -80px;
                bottom: -4px;
            }
            & .about__content{
                padding-bottom: 118px;
            }
        }
    }
    .work{
        padding: 50px 0 50px;
        &__title {
            margin-bottom: 30px;
        }
        &__item-wrapper{
            justify-content: center;
            flex-wrap: wrap;
        }
        &__item{
            margin-bottom: 30px;
        }
        &__line{
            display: none;
        }
        &__text{
            font-size: 20px;
            line-height: 23px;
        }
    }
}
@media (max-width: 685px){
    .statistic{
        .container{
            padding: 0 15px;
        }
        &__column{
            width: 222px;
        }
        &__count{
            font-size: 72px;
            line-height: 84px;
        }
        &__name{
            font-size: 20px;
            line-height: 23px;
        }
    }
}
@media (max-width: 658px){
    .main{
        &__img-bg3 {
            width: 61%;
            height: 42%;
            top: 38%;
            left: 67%;
        }
    }
    .about{
        & .about__skills{
            max-width: 250px;
        }
        &__item-right{
            & .about__img-wrapper{
                left: -145px;
            }
            & .about__skills{
                margin-left: auto;
                padding-left: 10px;
            }
        } 
        
    }
    .course{
        &__title{
            font-size: 30px;
            line-height: 37px;
        }
        &__offer-item{
            font-size: 20px;
            line-height: 24px;

        }
        &__offer-item+&__offer-item{
            margin-top: 18px;
        }
        &__btn{
            display: block;
            text-align: center;
            padding: 44px 15px;
            background-color: #EA3838;
            font-size: 36px;
            line-height: 43px;
            transition-duration: 800ms;
            &:hover{
                background-color: #fff;
                color: #EA3838;
            }
        }
    }
}
@media (max-width: 620px){
    .main{
        &__img-bg3 {
            width: 61%;
            height: 42%;
            top: 38%;
            left: 58%;
        }
    }
    .header{
        &__menu-item+&__menu-item{
            margin-left: 10px;
        }
    }
}
@media (min-width: 541px){
    .header{
        &__menu-hide{
            display: none;
        }
    }   
}
@media (max-width: 540px){
    .header{
        &__menu{
            display: none;
        }
        &__menu-hide{
            display: block;
            margin: 10px 10px;
        }
        &__menu-list{
            display: flex;
            justify-content: space-around;
        }
    }
    .footer{
        &__menu-item+&__menu-item{
            margin-left: 40px;
        }
    }
}
@media (max-width: 520px){
    .course{
        &__title {
            padding: 11px 0;
        }
        &__offer-item{
            display: block;
        }
        &__inner{
            flex-direction: column;
        }
        &__offer-list{
            padding-top: 13px;
            border: none;
        }
        &__order{
            padding: 4px;
            border-bottom: none;
            border-top: 3px solid #FFFFFF;
        }
        &__btn{
            border-top: 3px solid #FFFFFF;  
        }
        &__offer-item+&__offer-item{
            margin-top: 11px;
        }
    }
    .feedback{
        &__slider-text{
            font-size: 17px;
            line-height: 20px;
        }
        &__slider-item{
            padding:  20px 15px;
            text-align: center;
        }
        &__slider-star + .feedback__slider-star {
            margin-left: -5px;
        }
    }
    .footer{
        &__menu-item+&__menu-item{
            margin-left: 30px;
        }
    }
}
@media (max-width: 477px){
    .about{
        &__inner{
            position: auto;
        }
        & .container{
            padding: 0;
        }
        &__content{
            padding: 0 15px;
            text-align: center;
        }
        &__section-title{
            font-size: 20px;
            line-height: 23px;
        }
        &__name{
            font-size: 20px;
            line-height: 24px;
        }
        &__position{
            padding-bottom: 6px;
            margin-bottom: 23px;
            font-size: 17px;
            line-height: 20px;
            &::before{
                width: 86px;
                height: 2px;
                left:50%;
                transform: translateX(-50%);
            }
        }
        &__skills{
            margin: 0 auto;
            width: 224px;
            padding: 0;
            text-align: start;
        }
        &__skills li{
            margin-bottom: 17px;
            font-size: 17px;
            line-height: 20px;  
        }
        &__text{
            padding:20px;
            font-size: 17px;
            line-height: 20px;
        }
        & .about__img-wrapper{
            max-width: 350px;
        }
        &__item-right{
            & .about__img-wrapper{
                left: 50%;
                transform: translateX(-50%);

            }
            & .about__content{
                text-align: center;
                margin-top: 20px;
                padding-bottom: 263px;
            }
            & .about__position{

                &::before{
                    left:50%;
                }
            }
            & .about__skills{
                text-align: end;
            }
        }
        &__item-left{
            & .about__img-wrapper{
                left: 50%;
                transform: translateX(-50%);
            }
            & .about__content{
                padding-bottom: 236px;
            }
        }
    }
    .footer{
        &__menu-item{
            display: block;
            margin-bottom: 12px;
        }
        &__menu-item+&__menu-item{
            margin-left: 0px;
            
        }
    }
}
@media (max-width: 462px){
    .main{
        min-height: 495px;
        &__left{
            min-height: 514px;
        }
        &__right{
            width: 89%;
            text-align: center;
        }
        &__title{
            font-size: 30px;
            line-height: 36px;
            &::after{
                left: 50%;
                transform: translate(-50%);
            }
        }    
        &__subtitle{
            max-width: 209px;
            font-size: 20px;
            line-height: 24px;
            display: inline-block;
            margin-bottom: 228px;
        } 
        &__buttons{
            margin: 0 auto;
            max-width: 280px;
            margin-bottom: 19px;
        }
        &__btn-registration,
        &__btn-lesson{
         padding: 17px 25px 24px 19px;
        }
        &__btn-registration{
            margin-bottom: 10px;
        }
        &__girl{
            bottom: 12%;
            max-width: 208px;
            width: 100%;
            left: 22%;  
        }
        &__img-bg1 {
            width: 40%;
            height: 22%;
            top: 40%;
            left: 69%;
            transform: matrix(-0.84, -0.48, -0.58, 0.86, 0, 0); 
        }
        &__img-bg2 {
            display: none;
        }
        &__img-bg3 {
            display: none;
        }
        &__img-bg4 {
            width: 42%;
            height: 18%;
            top: 34%;
            left: 3%;
            transform: matrix(1, -0.05, -0.01, 1, 0, 0);
        }
        &__img-bg5 {
            width: 37%;
            height: 24%;
            top: 53%;
            left: 4%;
        }
    }   
}