@media (max-width: 1152px){
    .main{
        &__right{
            text-align: center;
        }
        &__img-bg1{
            display: none;
        }    
        &__img-bg2{
            top: 54px;
            left: 337px;
        }
        &__img-bg3{
            top: -113px;
            left: -50px;
        }
        &__img-bg4{
            top: 393px;
            left: 343px;
        }
        &__img-bg5{
            top: -82px;
            left: 557px;
        }
    }
}

@media (max-width: 1000px){
    .container {
        max-width: 1000px;
    }
    .main{
        &__inner{
            align-items: center;
        }
        &__left{
            display: none; 
        }
        &__right{
            text-align: center;
            max-width: 391px;
            padding-right: 15px;
        }
        &__button-registration, &__button-lesson{
            padding-left: 19px;
            padding-right: 19px;
            font-size: 20px;
            line-height: 24px;
        }
        &__button-lesson{
            margin-left: 13px;
        }
        &__video{
            display: block;
            align-items: center;
            width: 54.4%;
            height: 0;
            padding-bottom: 30.4%;
            position: relative;
            &-img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            &-bg{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #003F5D;
                transform: rotate(-3.04deg);
            }
            &-link{
                z-index: 1;
                width: 57px;
                height: 57px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: #EA3838;
                border: 2px solid #FFFFFF;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &-btn{
                margin-left: 5px;
                width: 23px;
                height: 26px;
            }
        }
    }
}   