// font-family: 'Museo', sans-serif;
@font-face {
	font-family: 'Museo';
	src: url('..//fonts/museo300.eot');
	src: local('☺'), url('..//fonts/museo300.woff') format('woff'), url('..//fonts/museo300.ttf') format('truetype'), url('..//fonts/museo300.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Museo';
	src: url('..//fonts/museo500.eot');
	src: local('☺'), url('..//fonts/museo500.woff') format('woff'), url('..//fonts/museo500.ttf') format('truetype'), url('..//fonts/museo500.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Museo';
	src: url('..//fonts/museo700.eot');
	src: local('☺'), url('..//fonts/museo700.woff') format('woff'), url('..//fonts/museo700.ttf') format('truetype'), url('..//fonts/museo700.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}