<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fun weather</title>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div class="main">
        <div class="header">
            <div class="container">
                <div class="header__wrapper">
                    <div class="header__logo">Fun Weather.</div>
                    <nav class="header__nav">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Features</a></li>
                            <li><a href="#">Reviews</a></li>
                            <li><a href="#">Download</a></li>
                        </ul>
                    </nav>
                    <div class="header__contacts clearfix">
                        <a href=""><img src="img/facebook.png" alt=""></a>
                        <a href=""><img src="img/instagram.png" alt=""></a>
                        <a href=""><img src="img/twitter.png" alt=""></a>
                    </div>
                </div>
                <div class="offer">
                    <div class="main__offer">
                        <h1 class="offer__title">Get the most fun
                            weather app</h1>
                        <p class="offer__text">Simple, nice and user-friendly application of the weather. Only useful
                            information</p>
                        <div class="offer__btn">
                            <div class="offer__btn-download"><a href="#">Download</a></div>
                            <div class="offer__btn-features"><a href="#">Features</a></div>
                        </div>
                    </div>
                    <div class="main__bg">
                        <div class="sunny">sunny</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>