* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
ul {
    display: flex;
    justify-content: space-between;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #ebefff;
}
.main {
    background: url(..//img/main-bg.png) no-repeat top center / cover;
    height: 959px;
}
.container {
    max-width: 1171px;
    width: 100%;
    margin: 0 auto;
}
.header{
    color: #ebefff;
}
.header__wrapper {
    display: flex; 
    justify-content: space-between;
}
.header__logo {
    padding-top: 34px;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
.header__nav {
    margin-left: -70px;
    padding-top: 37px;
    max-width: 540px;
    width: 100%;
}
nav li a {
    font-size: 18px;
}
nav li a:hover {
    border-bottom: 2px solid #ebefff;
}
.header__contacts {
display: flex;
justify-content: space-between;
padding-top: 32px;
max-width: 150px;
width: 100%;
}
.offer {
    display: flex;
}
.main__offer {
    padding-top: 240px;
    max-width: 485px;
    width: 100%; 

}
.offer__title{
    font-size: 60px;
    font-weight: 700;
}
.offer__text {
    padding-top: 29px;
    max-width: 390px;
    width: 100%;
    font-size: 18px;
    line-height: 30px;
}
.offer__btn {
    display: flex;
    justify-content: space-between;
    margin-top: 56px;
    max-width: 335px;
    width: 100%;
}
.offer__btn a {
    font-size: 18px;
    font-weight: bold;
}
.offer__btn-download, .offer__btn-features{
    max-width: 159px;
    width: 100%;
    padding: 17px 0px 17px 0px;
    border-radius: 4px;
    text-align: center;
}
.offer__btn-download {
    background-color: #fc6a42;
}
.offer__btn-features {
    background-color: #4466c9;
}
.main__bg {

    width: 100%;
    height: 900px;

    position: relative;
}
.sunny {
    position: absolute;
    top: 10px;
    left:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fc6a42;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    width: 90px;
    height: 90px;
    border-radius: 50px;
}