* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  color: white; }

a {
  text-decoration: none;
  color: inherit; }

h1, h2, h3, h4, h5, h6, ul, li, form, input {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none;
  display: inline-block; }

.container {
  max-width: 1260px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto; }

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
.header__menu-item + .header__menu-item {
  margin-left: 80px; }
.header__menu-link {
  font-size: 17px;
  line-height: 20px;
  color: #000; }
  .header__menu-link:hover {
    color: #EA3838; }
.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.header__contact-link {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative; }
.header__contact-link + .header__contact-link {
  margin-left: 17px; }
.header__contact-youtube img, .header__contact-vk img, .header__contact-instagram img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
.header__contact-youtube {
  background-color: #F40000; }
.header__contact-vk {
  background-color: #7294C7; }
.header__contact-instagram {
  background: -webkit-linear-gradient(46.1deg, #EEA054 16.16%, #D64763 50.11%, #B62A99 83.68%);
  background: linear-gradient(43.9deg, #EEA054 16.16%, #D64763 50.11%, #B62A99 83.68%); }

.main {
  background-color: #002E44;
  padding: 92px 0 67px; }
  .main__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .main__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 52%;
            flex: 0 0 52%; }
  .main__title {
    font-family: GUERRILLA;
    font-size: 48px;
    line-height: 58px; }
  .main__line {
    margin: 14px auto;
    width: 186px;
    height: 2px;
    background: #fff; }
  .main__subtitle {
    display: block;
    font-family: GUERRILLA;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 26px; }
  .main__button-registration, .main__button-lesson {
    font-family: GUERRILLA;
    font-size: 24px;
    line-height: 29px;
    padding: 6px 27px 9px;
    border-radius: 25px; }
  .main__button-registration {
    background: #EA3838;
    box-shadow: 0px 4px 6px rgba(234, 56, 56, 0.15); }
  .main__button-lesson {
    margin-left: 27px;
    border: 2px solid #EA3838;
    box-sizing: border-box;
    -webkit-filter: drop-shadow(0px 4px 6px rgba(234, 56, 56, 0.15));
            filter: drop-shadow(0px 4px 6px rgba(234, 56, 56, 0.15)); }
  .main__left {
    position: relative; }
  .main__img {
    max-width: 100%;
    max-height: 100%; }
  .main__img-bg1 {
    position: absolute;
    background-image: url(..//img/main/main-img-bg-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    top: -39px;
    left: 466px;
    width: 232px;
    height: 198px; }
  .main__img-bg1 {
    position: absolute;
    background-image: url(..//img/main/main-img-bg-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    top: -39px;
    left: 466px;
    width: 232px;
    height: 198px; }
  .main__img-bg2 {
    position: absolute;
    background-image: url(..//img/main/main-img-bg-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    top: 26px;
    left: 337px;
    width: 178px;
    height: 168px; }
  .main__img-bg3 {
    position: absolute;
    background-image: url(..//img/main/main-img-bg-3.png);
    background-size: cover;
    background-repeat: no-repeat;
    top: 115px;
    left: 367px;
    width: 298px;
    height: 297px; }
  .main__img-bg4 {
    position: absolute;
    background-image: url(..//img/main/main-img-bg-4.png);
    background-size: cover;
    background-repeat: no-repeat;
    top: 359px;
    left: 461px;
    width: 225px;
    height: 184px; }
  .main__img-bg5 {
    position: absolute;
    background-image: url(..//img/main/main-img-bg-5.png);
    background-size: cover;
    background-repeat: no-repeat;
    top: 422px;
    left: 378px;
    width: 184px;
    height: 184px; }

.section__title {
  text-align: center;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px; }

.about__top {
  padding-top: 20px;
  background: #003F5D;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.12); }
  .about__top .container {
    background: url(..///img/about/about-bg-1.png) no-repeat bottom right/861px 574px; }
.about__main-title {
  margin-bottom: 91px; }
.about__name {
  font-family: guerrilla;
  font-size: 36px;
  line-height: 43px; }
.about__position {
  font-family: guerrilla;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 13px; }
.about__line {
  width: 262px;
  height: 2px;
  background-color: #fff;
  margin-bottom: 31px; }
.about__advantages-item {
  padding-left: 40px;
  display: block;
  font-size: 24px;
  line-height: 28px; }
.about__advantages-item + .about__advantages-item {
  margin-top: 22px; }
.about__advantages {
  margin-bottom: 58px; }
.about__text {
  padding: 33px;
  max-width: 893px;
  background: rgba(0, 0, 0, 0.8); }

/*# sourceMappingURL=main.css.map */