@media (max-width: 1090px) {
  .main__btn-lesson {
    margin-left: 13px; }
  .main__left {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 540px;
            flex: 1 1 540px; }
  .main__btn-registration, .main__btn-lesson {
    font-size: 20px;
    line-height: 24px; }
  .main__img-bg1 {
    top: 20%;
    left: 28%; }
  .main__img-bg2 {
    top: 27%;
    left: 11%; }
  .main__img-bg3 {
    top: 12%;
    left: 51%; }
  .main__img-bg4 {
    top: 49%;
    left: 47%; }
  .main__img-bg5 {
    top: 50%;
    left: 26%; }

  .about__top {
    padding-top: 20px; }
    .about__top .container {
      background-position: bottom -200% right -29%;
      background-size: 700px 467px; }
  .about__main-title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 36px; }
  .about__name {
    font-size: 30px;
    line-height: 36px; }
  .about__position {
    font-size: 20px;
    line-height: 24px; }
  .about__advantages-item {
    font-size: 20px;
    line-height: 23px; }
  .about__text {
    font-size: 20px;
    line-height: 23px; }
  .about__advantages-item + .about__advantages-item {
    margin-top: 17px; }
  .about__bottom {
    background-color: #002E44; }
    .about__bottom .container {
      background-position: bottom left -46%;
      background-size: 700px 466px; }
    .about__bottom .about__name {
      padding-top: 90px; }
    .about__bottom .about__line, .about__bottom .about__text {
      margin-left: auto; }
    .about__bottom .about__advantages {
      margin-bottom: 96px; }
    .about__bottom .about__advantages-item {
      padding-left: 0px;
      padding-right: 40px; } }
@media (max-width: 976px) {
  .main__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 354px;
            flex: 0 0 354px;
    min-height: 480px; }
  .main__girl {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 250px;
            flex: 1 1 250px;
    padding-bottom: 355px; }
  .main__img-bg1 {
    width: 30%;
    height: 30%;
    top: -2%;
    left: 44%; }
  .main__img-bg2 {
    width: 25%;
    height: 25%;
    top: 22%;
    left: 22%; }
  .main__img-bg3 {
    width: 61%;
    height: 42%;
    top: 9%;
    left: 52%; }
  .main__img-bg4 {
    width: 45%;
    height: 26%;
    top: 34%;
    left: 43%; }
  .main__img-bg5 {
    width: 30%;
    height: 30%;
    top: 59%;
    left: 37%; }

  .about__content {
    max-width: 427px; }
  .about__top .container {
    background-position: bottom -30% right -29%;
    background-size: 600px 400px; }
  .about__bottom .container {
    background-position: bottom left -46%;
    background-size: 600px 400px; }
  .about__text {
    font-size: 17px;
    line-height: 20px; } }
@media (max-width: 808px) {
  .about__bottom .container {
    background-position: bottom left -71%; } }
@media (max-width: 767px) {
  .main {
    position: relative;
    min-height: 547px; }
    .main__board {
      background: none; }
    .main__right {
      position: absolute;
      text-align: start;
      z-index: 1; }
    .main__title::after {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
      left: 0%;
      margin-bottom: 4px; }
    .main__subtitle {
      display: block;
      max-width: 315px;
      margin-bottom: 218px; }
    .main__buttons {
      display: block;
      max-width: 215px;
      margin-bottom: 20px; }
    .main__btn-registration, .main__btn-lesson {
      display: block;
      text-align: center;
      padding: 17px 18px 19px 19px; }
    .main__btn-registration {
      margin-bottom: 21px; }
    .main__btn-lesson {
      margin-left: 0px; }
    .main__left {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 100%;
              flex: 1 1 100%;
      min-height: 547px;
      position: relative;
      overflow: hidden; }
    .main__board {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 100%;
              flex: 1 1 100%; }
    .main__girl {
      bottom: 0;
      max-width: 250px;
      width: 100%;
      left: 50%; }
    .main__img-bg1 {
      width: 30%;
      height: 30%;
      top: 33%;
      left: 47%;
      -webkit-transform: matrix(-0.84, -0.48, -0.58, 0.86, 0, 0);
              transform: matrix(-0.84, -0.48, -0.58, 0.86, 0, 0); }
    .main__img-bg2 {
      width: 25%;
      height: 25%;
      top: 36%;
      left: 5%;
      -webkit-transform: matrix(-0.73, 0.73, 0.64, 0.73, 0, 0);
              transform: matrix(-0.73, 0.73, 0.64, 0.73, 0, 0); }
    .main__img-bg3 {
      width: 61%;
      height: 42%;
      top: 38%;
      left: 80%; }
    .main__img-bg4 {
      width: 36%;
      height: 25%;
      top: 54%;
      left: 19%;
      -webkit-transform: matrix(1, -0.05, -0.01, 1, 0, 0);
              transform: matrix(1, -0.05, -0.01, 1, 0, 0); }
    .main__img-bg5 {
      width: 30%;
      height: 30%;
      top: 75%;
      left: 44%; } }
@media (max-width: 658px) {
  .main__img-bg3 {
    width: 61%;
    height: 42%;
    top: 38%;
    left: 67%; } }
@media (max-width: 620px) {
  .main__img-bg3 {
    width: 61%;
    height: 42%;
    top: 38%;
    left: 58%; } }
@media (max-width: 462px) {
  .main {
    min-height: 495px; }
    .main__left {
      min-height: 514px; }
    .main__right {
      width: 89%;
      text-align: center; }
    .main__title {
      font-size: 30px;
      line-height: 36px; }
      .main__title::after {
        left: 50%;
        -webkit-transform: translate(-50%);
                transform: translate(-50%); }
    .main__subtitle {
      max-width: 209px;
      font-size: 20px;
      line-height: 24px;
      display: inline-block;
      margin-bottom: 228px; }
    .main__buttons {
      margin: 0 auto;
      max-width: 280px;
      margin-bottom: 19px; }
    .main__btn-registration, .main__btn-lesson {
      padding: 17px 25px 24px 19px; }
    .main__btn-registration {
      margin-bottom: 10px; }
    .main__girl {
      bottom: 12%;
      max-width: 208px;
      width: 100%;
      left: 22%; }
    .main__img-bg1 {
      width: 40%;
      height: 22%;
      top: 40%;
      left: 69%;
      -webkit-transform: matrix(-0.84, -0.48, -0.58, 0.86, 0, 0);
              transform: matrix(-0.84, -0.48, -0.58, 0.86, 0, 0); }
    .main__img-bg2 {
      display: none; }
    .main__img-bg3 {
      display: none; }
    .main__img-bg4 {
      width: 42%;
      height: 18%;
      top: 34%;
      left: 3%;
      -webkit-transform: matrix(1, -0.05, -0.01, 1, 0, 0);
              transform: matrix(1, -0.05, -0.01, 1, 0, 0); }
    .main__img-bg5 {
      width: 37%;
      height: 24%;
      top: 53%;
      left: 4%; } }

/*# sourceMappingURL=media.css.map */