//font-family: 'Inter', sans-serif;
//font-family: 'Roboto', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  
body {
  font-family: 'Inter', sans-serif;
  }
a {
    text-decoration: none; 
    color: inherit;
  }
h1, h2, h3, h4, ul, li, form, input {
    margin: 0;
    padding: 0; 
    font-weight: 400;
}
ul li{
  list-style-type: none;
}
.container{
  max-width: 1030px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.button__feel, .button__empty{
  display: inline-block;
  white-space: nowrap;
  padding: 30px 32px;
  font-size: 15px;
  line-height: 1.6px;
  letter-spacing: 0.15px;
  border-radius: 30px;
  transition-duration: 400ms;
}
.button__feel{
  background: #2E85FF;
  color: #FFFFFF;
    &:hover{
      background: #ee5b5b;
    }
}
.button__empty{
  background: transparent;
  color: #2174EA;
  border: 1px solid #2E85FF;
    &:hover{
      background: #2E85FF;
      color: #FFFFFF;
    }
}
.info-link{
  padding-right: 20px;
  position: relative;
  &:hover{
    text-decoration-line: underline;
    color: #5C9FFF;
  }
  &::after{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-image: url(..//img/header/arrow.png);
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}
.section{
  &__title{
    font-size: 37px;
    line-height: 1.2;
    letter-spacing: 0.617px;
    color: #112950;
  }
}

.header{
  background: #F5F8FB;
  &__top{
    padding:18px 0;
    background: #112950;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.075;
    text-align: center;
  }
  &__info{
    display: inline-block;
  }
  &__menu-icon{
    display: none;
  }
  &__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 0 27px 0;
  }
  &__list-item{
    display: inline-block;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.15px;
  }
  &__list-item a:hover{
    text-decoration-line: underline;
  }
  &__list-item+&__list-item{
    margin-left: 45px;
  }
}
.main{
  background: #F5F8FB;
  & .container{
  }
  &__wrapper{
    width: 100%;
    position: relative;
   
  }
  &__content{
    padding-top: 125px;
    padding-bottom: 191px;
    max-width: 440px;
  }
  &__title{
    font-size: 45px;
    line-height: 1.25;
    letter-spacing: 0.796px;
    color: #112950;
    margin-bottom: 42px;
  }
  &__text p{
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.15px;
    color: #324B72;
    margin-bottom: 25px;
  }
  &__img{
    position: absolute;
    top: 33px;
    right: 150px;
  }
  &__img-text{
    position: absolute;
    top: 410px;
    right: -113px;
    max-width: 400px;
    width: 100%;
    padding: 26px 47px 22px 30px;   
    background: #112950;
    box-shadow: 0px 10px 20px rgba(17, 41, 80, 0.48);
    border-radius: 5px;
  }
  &__img-text p{
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
  }
}

// section helps

.helps{
  padding:120px 0 ;
  background: #F5F8FB;
  &__title{
    margin-bottom: 75px;
  }
  &__row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__column{
    max-width: 315px;
    padding: 0px 10px;
    &-img{
      margin-bottom: 30px;
    }
    &-title{
      font-size: 23px;
      line-height: 1.2;
      letter-spacing: 0.308px;
      color: #112950;
      margin-bottom: 20px;
    }
    &-text{
      font-family: 'Inter', sans-serif;
      font-size: 17px;
      line-height: 1.76;
      letter-spacing: 0.15px;
      color: #324B72;
    }
  }
}
// section use
.use{
  padding: 120px 0;
  &__title{
    margin-bottom: 30px;
  }
  &__text{
    max-width: 657px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.15px;
    color: #324B72;
    margin-bottom: 56px;
  }
  &__cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  &__card-item{
    padding: 53px 49px 0 41px;
    max-width: 490px;
    min-height: 662px;
    border-radius: 16px;
    position: relative;
    &::before{
      content: "";
      position: absolute;
      top: 260px;
      left: 0;
      width: 100%;
      height: 1px;
    }
  }
  &__card{
    &-img{
      width: 80%;
      display: block;
      margin: 0px auto 46px auto;
    }
    &-title{
      margin-bottom: 28px;
      font-size: 29px;
      line-height: 1.2;
      letter-spacing: 0.456px;
    }
    &-text{
      font-family: 'Inter', sans-serif;
      font-size: 17px;
      line-height: 1.76;
      margin-bottom: 150px;
    }
    &-buttons{
      position: absolute;
      bottom: 53px;
    }
    &-link{
      margin-left: 30px;
    }
  }
  &__card-blue{
    color: #fff;
    background: #112950;
    &::before{
      background: #324B72;
    }
  }
  &__card-white{
    color: #112950;
    background: #F5F8FB;
    &::before{
      background: #E0E6ED;
    }
  }
  &__row{
    display: flex;
    padding: 50px 15px;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #E0E6ED;
    border-radius: 16px;
    &-content{
      max-width: 565px;
      padding-right: 15px;
    }
    &-title{
      font-size: 28px;
      line-height: 1.24;
      letter-spacing: 0.456px;
      color: #112950;
      margin-bottom: 28px;
    }
    &-text{
      font-size: 18px;
      line-height: 1.67;
      letter-spacing: 0.15px;
      color: #324B72;
      margin-bottom: 28px;
    }
  }
}