.lookJob {
    font-size: 18px;
    margin-bottom: 14px;
}
.aboutMe{
    position: relative;
    margin-bottom: 14px;
}
.contactListTitle{
    margin-bottom: 2px;
}

.contactListItem:not(:last-child){
    margin-right: 5px;
    margin-bottom: 1px;
}
.contactListLink:first-letter{
    text-transform: uppercase;
}
