.header{
    width: 100%;
    padding: 3px 15px;
    background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
    color: #fff	;
    border-radius: 0 0 5px 5px ;
 }
 .wrapper{
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 .logo_text{
   font-size: 30px;
   font-weight: bold;

 }
