.pagination{
}

.pages{
    font-size: 19px;
    cursor: pointer;
    transition-duration: 0.2s ;
}
.pages:not(:last-child){
    margin-right: 10px;
}
.pages:hover{
    color: #6e6e6e;
    transition-duration: 0.2s ;
}
.activePage{
     font-weight: bold;
     border-bottom: 3px solid #000000;
 }