@media (max-width: 960px){
    .rooms{
        &__bg{
            width: 55%;
        }
        &__wrapper{
            flex: 0 0 50%;
        }
        &__content{
            padding: 20px 20px 0 50px;
            &-title{
                font-size: 20px;
            }
        }
        &__list-item{
            font-size: 15px;
        }
    }
    .pool, .transfer{
        &__img{
            width: 55%;
        }
        &__content-title{
            font-size: 20px;
        }
        &__content-text{
            font-size: 15px;
        }
    }
}
@media (max-width: 920px){
    .header{
        &__logo{
            transform: translateY(50%);
        }
        &__wrapper {
            flex-wrap: wrap;
        }
        &__contact{
            width: 100%;
            text-align: end;
        }
    }
}
@media (max-width: 838px){
    .rooms{
        &__content{
            width: 100%;
            padding: 0;
            &-title{
                transform: none;
                text-align: center;
            }
        }
        &__title{
            width: 100%;
            text-align: center;
        }
        &__bg{
            width: 90%;
            margin: 15px auto;
        }
        &__wrapper{
            flex-wrap: wrap;
        }
        &__wrapper:last-child{
            flex-wrap: wrap-reverse;
          }
        &__list, &__guest{
            max-width: 310px;
            margin: 0 auto;
        }
        &__guest{
            margin-bottom: 25px;
        }
    }
    .pool, .transfer{
        &__title{
            text-align: center;
        }
        &__wrapper{
            flex-wrap: wrap-reverse;
        }
        &__img{
            width: 90%;
            margin: 15px auto;
        }
        &__content{
            margin: 0 auto;
            text-align: center;
        }
    }
    .transfer{
        &__wrapper{
            flex-wrap: wrap;
        }
    }
    .contacts{
        &__content{
            margin-left: auto;
            margin-right: auto;
        }
        &__map-static{
            display: block;
            object-fit: none;
        }
    }
}
@media (max-width: 840px){
.about{
    &__title{
        text-align: center;
    }
    &__text{
        max-width: 100%;
    }
    &__text p {
        text-align: center;
    }
    &__content{
        flex-direction: column;
    }
    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__list-item{
        flex: 0 0 50%;
    }
}
.section{
    &__title{
        text-align: center;
    }
}
}
@media (max-width: 630px){
    .header{
        &__logo{
            transform: none;
            margin: 0 auto 15px auto;
        }
        &__nav{
            display: block;
            width: 100%;
            text-align: center;
            margin-bottom: 15px;
        }
        &__contact{
            text-align: center;
        }
    }  
}
@media (max-width: 560px){
    .footer{
        padding: 25px 0;
        &__wrapper{
            flex-wrap: wrap;
        }
        &__link, &__nav, &__pay{
            display: block;
            width: 100%;
            text-align: center;
        }
        &__link{
            margin-bottom: 15px;
        }
        &__nav{
            margin-bottom: 19px;
            width: 100%;
        }
        &__menu-item{
            display: block;
        }
        &__menu-item{
            margin-left: 15px;
            margin-top: 10px;
        }
        &__pay-title{
            transform: translateX(2%)
        }
        &__pay-icon{
            transform: translateX(2%)
        }
    }
}
@media (max-width: 535px){
.offer{
    padding: 112px 0 112px 0;
    &__content{
        text-align: center;
    }
    &__title{
        font-size:30px;
        margin-bottom: 28px;
    }
    &__list-item{
        font-size: 21px;
    }
}
.section{
    &__title{
        font-size: 25px;
    }
}
.about{
    &__title{
        margin-bottom: 18px;
    }
    padding:50px 0;
    &__text p{
        font-size: 17px;
    }
    &__list{
        text-align: start;
    }
    &__list-item{
        flex: 0 0 80%;
        left: 20%;
        font-size: 17px;
    }
    &__list-item5{
        margin-bottom: 0;
    }
}
.rooms{
    padding: 50px 0 25px 0;
    
}
.pool, .galery, .transfer{
    padding-top: 50px;
    padding-bottom: 50px;
}
.contacts{
    &__content-title{
        font-size: 23px;
    }
    &__adress{
        font-size: 17px;
    }
    &__tel, &__mail{
        font-size: 15px;
    }
}
}
@media (max-width: 430px){
    .about{
        &__list-item{
            flex: 0 0 100%;
            left: 0%;
            font-size: 17px;
        }  
    }
}
@media (max-width: 359px){
    .header{
        &__menu-item+&__menu-item{
            margin-left: 15px;
        }
        &__adress{
            font-size: 16px;
        }
    }
    .offer{
        &__title{
            font-size: 27px;
        }
    }
}