.header{
    flex: 0 0 auto;
    padding: 15px 0;
    background-color: #481c74;
    color: #fff	;
 }
 .wrapper{
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 .logo_text{
   margin-left: 15px;
   font-size: 30px;
   font-weight: bold;

 }
