.header{
    flex: 0 0 auto;
   padding: 15px 0;
   background-color: #ff7979;
 }
 .wrapper{
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 .logo_text{
   margin-left: 15px;
   font-size: 30px;
   font-weight: bold;
   color: white;
 }
 .tel{
   color: white;
   font-size: 14px;
   font-weight: bold;
 }
 .tel:hover{
   border-bottom: 1px solid #fff;
 }