* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  
body {
    font-family: 'Montserrat', sans-serif;
  }
a {
    text-decoration: none; 
    color: inherit;
  }
h1, h2, h3, h4, ul, li, form, input {
    margin: 0;
    padding: 0; 
}
ul, li{
  list-style-type: none;
}
.container{
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.button{
  display: inline-block;
  text-align: center;
  padding: 30px 13.5px;
  min-width: 300px;
  font-weight: 600;
  font-size: 16px;
  line-height: 2.23%;
  color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.16);
  &:hover{
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.45)
  }
}
.button__offer{
  background: #7252DC;
}
.button__whatsapp{
  background: #77DC52;
}
.header{
  z-index: -1;
  & .container{
    position: relative;
  }
  background: url(../img/header-bg.png) no-repeat center top / cover;
  &__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 14px;
    margin-bottom: 134px;
  }
  &__menu-item{
    display: inline-block;
    & a{
      font-weight: 600;
      font-size: 16px;
      line-height: 1.5;
      &:hover{
        text-decoration-line: underline;
        color: #7252DC;
      }
    }
  }
  &__menu-item+&__menu-item{
    margin-left: 60px;
  }
  &__bg{
    position: absolute;
    max-width: 641px;
    width: 100%;
    top: 100px;
    right: 0px;
    z-index: 0;
  }
  &__content{
    position: relative;
    z-index: 1;
    max-width: 660px;
    margin-bottom: 54px;
  }
  &__subtitle-item{
    display: inline-block;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.5;
    color: #888B97;
  }
  &__subtitle-item+&__subtitle-item{
    margin-left: 40px;
  }
  &__title{
    max-width: 500px;
    font-weight: 800;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    margin-bottom: 49px;
    & span {
      color: #7252DC;
    }
  }
  &__advantages{
    margin-bottom: 50px;
  }
  &__advantages-item{
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #2C2D31;
  }
  .button__offer{
    margin-right: 30px;
  }
  .button__whatsapp{
  }
}