@charset "UTF-8";
@font-face {
  font-family: 'Museo';
  src: url("..//fonts/museo300.eot");
  src: local("тШ║"), url("..//fonts/museo300.woff") format("woff"), url("..//fonts/museo300.ttf") format("truetype"), url("..//fonts/museo300.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Museo';
  src: url("..//fonts/museo500.eot");
  src: local("тШ║"), url("..//fonts/museo500.woff") format("woff"), url("..//fonts/museo500.ttf") format("truetype"), url("..//fonts/museo500.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Museo';
  src: url("..//fonts/museo700.eot");
  src: local("тШ║"), url("..//fonts/museo700.woff") format("woff"), url("..//fonts/museo700.ttf") format("truetype"), url("..//fonts/museo700.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Museo', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, ul, li, form, input {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

.container {
  max-width: 975px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  padding: 10px 0;
}
.header__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__contact {
  text-align: end;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__phone {
  font-family: 'Museo' sans-serif;
  display: block;
  font-weight: 700;
  font-size: 24px;
  color: #9a9a9a;
  margin-bottom: 6px;
}
.header__callback {
  display: block;
  font-size: 14px;
  -moz-text-decoration-line: underline;
       text-decoration-line: underline;
  color: #5892a6;
}

.offer {
  background: url(..//img/offer/main-bg.jpg) no-repeat top center/cover;
  padding: 70px 0 60px;
}
.offer__content {
  text-align: end;
  max-width: 620px;
  margin-left: auto;
  margin-bottom: 65px;
}
.offer__title {
  font-size: 41px;
  font-weight: 700;
  line-height: 1.2;
  color: #9a9a9a;
  margin-bottom: 10px;
}
.offer__description {
  font-size: 27px;
  font-weight: 500;
  color: #5892a6;
}
.offer__callback-inner {
  box-shadow: 0px 0px 38px 0px rgba(104, 176, 201, 0.34);
  margin-left: auto;
}

.modal__callback-inner {
  max-width: 300px;
  padding: 36px 15px;
  background: #ffffff;
  border-radius: 17px;
  text-align: center;
}
.modal__callback-title {
  font-weight: 700;
  font-size: 20px;
  color: #5892a6;
  margin-bottom: 10px;
}
.modal__callback-text {
  font-weight: 300;
  font-size: 12px;
  color: #9a9a9a;
  margin-bottom: 16px;
}
.modal__callback-phone, .modal__callback-button {
  padding: 0 15px;
  display: block;
  min-height: 40px;
  width: 80%;
  outline: none;
  margin: 0 auto;
  border-radius: 50px;
  text-align: center;
  border: none;
}
.modal__callback-phone {
  margin-bottom: 15px;
  border: 1px solid #9c9c9c;
  font-weight: 500;
  font-size: 13px;
}
.modal__callback-button {
  padding: 5px 15px;
  background: #68b0c9;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}
.modal__callback-button:hover {
  background: #077296;
}

/*# sourceMappingURL=main.css.map */