.wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.input,
.inputWrapper{
    height: 100%;
    width: 100%;
    border-radius: 6px;
}
.input {
    border: 1px solid #ccc;
    padding: 10px;
    display: block;
    outline: none;
    resize: none;
}
.inputWrapper.error{
    border: 1px solid red;
}
span.error {
    color: red;
    font-size: 13px;
}