.footer-contacts {
   padding: 38px 0;
   &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__social {
      width: 430px;
   }

   &__social-item {
      position: relative;
      display: inline-block;
      width: 45px;
      height: 45px;
      border: 2px solid #F13C6E;
      border-radius: 50%;
      transition: 400ms;
      &:before{
         content: "";
         width: 40px;
         height: 40px;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         background-repeat: no-repeat;
         background-position: 50% 50%;
      }
      &:not(:last-child){
         margin-right: 20px;
      }
      &:hover{
         transform: rotate(6deg);
      }
   }
}
.youtube {
   &:before{
      background-image: url(..//img/contacts/youtube.svg);
   }
}
.vk {
   &:before{
      background-image: url(..//img/contacts/vk.svg);
   }
}
.facebook {
   &:before{
      background-image: url(..//img/contacts/facebook.svg);
   }
}
.instagram {
   &:before{
      background-image: url(..//img/contacts/instagram.svg);
   }
}
.footer-contacts-adress {
   font-size: 14px;
   line-height: 16px;
   color: #000000;
}
.footer-contacts-phone {
   font-size: 16px;
   line-height: 19px;
   transition: 300ms;
   &:hover{
      text-decoration: underline;
   }
}
